@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
*{
    font-family: "Cinzel", serif;
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-size: cover;
    background-color: #201E1E;
    width: 100%;
}

header nav{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 13px;
}

.favicon{
    margin-left: 13px;
    width: 80px;
}

nav li a{
    margin-left: 280px;
    align-items: right;
}

li a img{
    transition: 0.3s ease, transform 0.3s ease; /* Agregamos una transición suave */
}

li a img:hover {
    transform: scale(1.20); /* Escala el botón al 105% de su tamaño original */
}

nav ul a{
    width: 100px;
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
    margin: 0 10px;
    padding: 8px 25px;
    transition: .4s;
}

nav ul a:hover{
    border-bottom: 1px solid #fff;
}

#NOSOTROS{   
    width: 100%;
    background-color: #201E1E;
    margin: 0 auto;
    position: relative;
    color: #ffffff;
    padding: 60px 0%;
}

#NOSOTROS h2{
    color: #FFAD60;
    font-size: 70px;
    margin: 0px 50px;
}

#NOSOTROS p {
    color: #ffffff;
    font-size: 18px;
    line-height: 2.0; /* Reduce el espaciado entre líneas */
    text-align: left; /* Asegura alineación a la izquierda */
    padding: 20px;
    max-width: 600px; /* Evita que el texto se extienda demasiado */
    margin: 0; /* Elimina márgenes extra que puedan afectar el diseño */
}

#NOSOTROS .fila{
    display: flex;
    justify-content: center;
}

#NOSOTROS article{
    margin: 0px 40px;
}

#NOSOTROS article img{
    max-width: 90%;
    max-height: 390px;
    position: relative;
    top: 100px;
    width: 750px;
    transition: .4s;
}

#NOSOTROS article img:hover{
    transform: scale(1.1) ;
}

footer{
    width: 100%;
    position: relative;
    padding: 60px 0px;
    background: black;
    color: #fff;
    text-align: center;
}

@media (min-width: 1370px){
    nav li a{
        margin-left: 880px;
        align-items: right;
    }
    
    nav a{
        margin-left: 50px;
    }

    #hero img {
        margin-top: 90px;
        width: 800px;
        max-height: 290px;
        height: auto;
    }

    #NOSOTROS article{
        margin: 0px 40px;
        margin-bottom: 160px;
    }

    #NOSOTROS article img{
        max-width: 100%;
        max-height: 2000px;
        position: relative;
        top: 100px;
        width: 750px;
        transition: .4s;
    }

    #NOSOTROS h2{
        color: #FFAD60;
        font-size: 90px;
        margin: 0px 50px;
        margin-top: 150px;
    }

    #NOSOTROS p {
        color: #ffffff;
        font-size: 20px;
        line-height: 2.0; 
        text-align: left; 
        padding: 20px;
        max-width: 600px; 
        margin: 0; 
    }


}