@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
*{
    font-family: "Cinzel", serif;
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/*contenedor de todo menu fodo*/
header{
    background-color: #201E1E;
    width: 100%;
    
}

/*contenedor de todo menu*/
header nav{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
/*contenedor de login */
nav li a{
    padding-left: 280px;
    align-items: right;
}

/*contnedor de solo menu */
nav ul a{
    width: 100px;
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
    margin: 0 10px;
    padding: 8px 25px;
    transition: .4s;
    
}

/*barra piso menu*/
nav ul a:hover{
    border-bottom: 1px solid #fff;
}
/*contenedor de todo objetivo fondo*/
#OBJETIVO{
    width: 100%;
    background-color: #201E1E;
    margin: 0 auto;
    position: relative;
    color: #ffffff;
    padding: 60px 0%;
}

/*titulo de objetivo*/
#OBJETIVO h2{
    text-align: right;
    color: #96CEB4;
    font-size: 70px;
    margin: 0px 50px;
}

/*parrafo de objetivo*/
#OBJETIVO p{
    text-align: right;
    font-size: 18px;
    line-height: 50px;
}

/*contenedor de todo objetivo*/
#OBJETIVO .fila{
    display: flex;
    justify-content: left;
   
}



/*contenedor de parrafo, titulo y img de objetivo*/
#OBJETIVO article{
    margin: 0px 40px;
}

/*imagen de objetivo*/
#OBJETIVO article img{
    margin: 0px 40px;
    width: 450px;    
    transition: .4s;
}

/*imagen de objetivo*/
#OBJETIVO article img:hover{
    transform: scale(1.1) ;
}

/*footer de objetivo*/
footer{
    width: 100%;
    position: relative;
    padding: 60px 0px;
    background: black;
    color: #fff;
    text-align: center;
}

@media (min-width: 1290px){
    /*contenedor de login */
    nav li a{
        padding-left: 800px;
        align-items: right;
    }
    /*contenedor de menu y logo*/
    nav a{
        margin-left: 50px;
        
    }

    /*parrafo de objetivo*/
    #OBJETIVO p{
    text-align: center;
    font-size: 18px;
    line-height: 50px;
    
    
    }

    /*titulo de objetivo*/
    #OBJETIVO h2{
    text-align: cen;
    color: #96CEB4; 
    font-size: 70px;
    margin: 0px 50px;
    margin-top: 50px;

    }
    /*imagen de objetivo*/
    #OBJETIVO article img{
        padding: none;
        width: 600px;    
        margin-bottom: 20px;
        transition: .4s;
    }
    /*contenedor de todo objetivo fondo*/
    #OBJETIVO{
    width: 100%;
    height: 695px;
    background-color: #201E1E;
    margin: 0 auto;
    position: relative;
    color: #ffffff;
    padding: 60px 0%;
    
    }
    /*contenedor de parrafo, titulo y img de objetivo */
    #OBJETIVO article{
    margin: 80px 40px;
    margin-left: 300px;
    }
    

}