@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Readex+Pro:wght@160..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
 
    * {
      box-sizing: border-box;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
        .logo {
            width: 175px;
            display: block;
        }
    body {
      background: linear-gradient( to right, #201e1e, #201e1e, #A02334 );
      margin: 0;
      padding: 0;
    }

    .container {
      width: 100%;
      max-width: 430px;
      margin: 60px auto;
      background-color: #fff;
      padding: 25px 20px;
      border-radius: 10px;
      
      box-shadow: 0 2px 10px #A02334(0,0,0,0.1);
    }

    h2 {
      font-size: 28px;
      font-weight: bold;
      color: #1c1e21;
      margin-bottom: 5px;
    }

    p {
      font-size: 15px;
      color: #000000;
      margin-bottom: 15px;
    }

    input, select {
      width: 100%;
      padding: 12px;
      margin: 6px 0;
      border: 1px solid #A02334;
      border-radius: 6px;
      font-size: 15px;
    }

    .name-fields {
      display: flex;
      gap: 10px;
    }

    .dob-gender {
      margin-top: 10px;
    }

    label {
      font-size: 14px;
      color: #606770;
      margin-bottom: 5px;
      display: block;
    }

    .gender-options {
      display: flex;
      gap: 10px;
    }

    .gender-options label {
      display: flex;
      align-items: center;
      padding: 10px;
      border: 1px solid #ccd0d5;
      border-radius: 6px;
      cursor: pointer;
      width: 100%;
    }

    .gender-options input {
      margin-right: 10px;
    }

    .btn-submit {
      background-color: #A02334;
      color: #fff;
      font-size: 17px;
      font-weight: bold;
      border: none;
      padding: 12px;
      border-radius: 6px;
      width: 50%;
      margin: 20px auto 0;
      display: block;
      cursor: pointer;
    }

    .btn-submit:hover {
      background-color: #A02334;
    }

    .terms {
      font-size: 12px;
      color: #777;
      margin-top: 15px;
      text-align: center;
    }
  