@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Readex+Pro:wght@160..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
 body {
        font-family: "Exo 2", serif;
            color: #ccc;
            
            background-color: #201E1E;
            display: flex;
            justify-content: left;
            align-items: left;
            min-height: 100vh;
            margin: 0;
        }

        .logo {
            width: 200px;
            margin-bottom: 30px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .input-group {
            margin-bottom: 20px;
            
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #ffffff; 
        }
        .input-empleado {
            margin-bottom: 15px; /* Espacio inferior para separar de otros elementos */
        }
        
        select{
            margin-top: 15px;
            padding: 10px;
            border: 1px solid #ffffff;
            background-color: #FFAD60;
            border-radius: 50px;
            box-sizing: border-box; 
        }
        
        input{
            
            width: calc(100% - 12px);
            padding: 10px;
            border: 1px solid #ffffff;
            background-color: #FFAD60;
            border-radius: 50px;
            box-sizing: border-box; 
        }

        button {
            background-color: #a27979; 
            color: white;
            padding: 12px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 100%; 
        }

        .signup-link {
            text-align: center;
            margin-top: 20px;
        }
    .container {
            font-size: 20px;
            background-color: #00000000;
            width: 50%;
            height: 500px;
            padding: 45px;
            border-radius: 30px;
            text-align: center; 
            font-weight: bolder;
            
        }

        .logo {
            width: 200px; 
            margin-bottom: 20px;
        }

        h2 {
            margin-bottom: 10px;
        }

        .input-group {
            margin-bottom: 15px;
            text-align: left; 
        }

        label {
            display: block;
            margin-bottom: 5px;
        }


        .contenedor-botones {
            display: flex;
            gap: 20px; 
        }
        
        .boton-admin, .boton-empleado {
            background-color: #a02334;
            color: #fff;
            padding: 10px 20px;
            border-radius: 15px;
            text-decoration: none;
            margin-top: 0; 
            line-height: normal; 
        } 
        
        .boton-registro {
            background-color: #A02334;
            color: #fff;
            padding: 10px 100px;
            border-radius: 50px;
            text-decoration: none;
            margin-top: 20px ;
            line-height: 15px;
            justify-content: left;
            
        
        }
        .señora img{
            width: 500px;
            align-items: right;
            padding: 50px;
            justify-content: right;


        }
        .inc{
            color: #96CEB4;
        }