@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
*{
    font-family: "Cinzel", serif;
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: #201E1E;
    width: 100%;

}

header nav{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 13px;
}

.favicon{
    margin-left: 13px;
    width: 80px;
}

nav li a{
    margin-left: 280px;
    align-items: right;
}

li a img{
    transition: 0.3s ease, transform 0.3s ease; /* Agregamos una transición suave */
}

li a img:hover {
    transform: scale(1.20); /* Escala el botón al 105% de su tamaño original */
}

nav ul a{
    width: 100px;
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
    margin: 0 10px;
    padding: 8px 25px;
    transition: .4s;
}

nav ul a:hover{
    border-bottom: 1px solid #fff;
}

#SEGURIDAD{
    color: #ffffff;
    width: 100%;
    background-color: #201E1E;
    margin: 0 auto;
    position: relative;
    padding: 60px 0%;
}

#SEGURIDAD h2{
    margin: 0px 50px;
    color: #A02334;
    font-size: 70px;
}

#SEGURIDAD p{
    text-align: right;
    font-size: 18px;
    line-height: 50px;
}


#SEGURIDAD .fila{
    display: flex;
    justify-content: left;
}

#SEGURIDAD article{
    margin: 0px 20px;
}

#SEGURIDAD article img{
    margin: 0px 40px;
    width: 450px;    
    transition: .4s;
}

#SEGURIDAD article img:hover{
    transform: scale(1.1) ;
}

footer{
    width: 100%;
    position: relative;
    padding: 60px 0px;
    background: black;
    color: #fff;
    text-align: center;
}

@media (min-width: 1290px){
    nav li a{
        margin-left: 880px;
        align-items: right;
    }
    
    nav a{
        margin-left: 50px;
    }

    #SEGURIDAD h2{
        margin: 0px 50px;
        color: #A02334;
        font-size: 90px;
        margin-left: 250px;
        margin-top: 110px;
        margin-bottom: 40px;
    }

    #SEGURIDAD p{
        text-align: right;
        font-size: 25px;
        line-height: 50px;
    }

    #SEGURIDAD article img{
        margin: 0px 40px;
        width: 700px;    
        transition: .4s;
        margin-top: 50px;
        margin-left: 100px;
        margin-bottom: 100px;
    }
}